Package: lv.pienazupa.lvkeyboardspeed5
Name: LV Key Speeder 5
Version: 1.0
Architecture: iphoneos-arm
Description: Paātrina rakstīšanu ar iOS 5 LV tastatūru.
Homepage: http://pienazupa.lv/
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Conflicts: lv.pienazupa.keyboardcleaner5
Provides: lv.pienazupa.keyboardcleaner5
Replaces: lv.pienazupa.keyboardcleaner5
Pre-Depends: firmware (>= 5.0), firmware (<< 6.0)
