Package: lv.kristapsausters.keyspeed.core
Name: LV Key Speeder
Version: 5.0.0
Architecture: iphoneos-arm
Description: Paātrina rakstīšanu ar iOS 5 LV tastatūru.
Homepage: http://kristapsausters.lv/
Depiction: http://repo.kristapsausters.lv/www/keyspeed/index.htm
Maintainer: Kristaps <kausters@gmail.com>
Author: Kristaps <kausters@gmail.com>
Section: Keyboards
Conflicts: lv.kristapsausters.keyclean
Replaces: lv.kristapsausters.keyclean
Depends: lv.kristapsausters.keyspeed
Pre-Depends: firmware (>= 5.0), firmware (<< 6.0)
