Package: lv.kristapsausters.keyspeed.core
Name: LV Key Speeder
Version: 6.0.0
Architecture: iphoneos-arm
Description: Paātrina rakstīšanu ar iOS 6 LV tastatūru.
Homepage: http://kristapsausters.lv/
Depiction: http://repo.kristapsausters.lv/www/keyspeed/index.htm
Maintainer: Kristaps <kausters@gmail.com>
Author: Kristaps <kausters@gmail.com>
Section: Keyboards
Conflicts: lv.kristapsausters.keyclean
Provides: lv.kristapsausters.keyclean
Replaces: lv.kristapsausters.keyclean
Pre-Depends: firmware (>= 6.0), firmware (<< 7.0)
