Package: lv.pienazupa.lvkeyboardcleaner7
Name: LV Key Cleaner 7
Version: 7.0
Architecture: iphoneos-arm
Description: Aizvāc svešos simbolus no iOS 7 LV tastatūras.
Homepage: http://pienazupa.lv/
Depiction: http://repo.pienazupa.lv/www/keycleaner/index.htm
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Conflicts: lv.pienazupa.lvkeyboardspeed7
Provides: lv.pienazupa.lvkeyboardspeed7
Replaces: lv.pienazupa.lvkeyboardspeed7
Pre-Depends: firmware (>= 7.0), firmware (<< 8.0)
