Package: lv.pienazupa.lvkeyboardspeed6
Name: LV Key Speeder 6
Version: 1.0
Architecture: iphoneos-arm
Description: Paātrina rakstīšanu ar iOS 6 LV tastatūru.
Homepage: http://pienazupa.lv/
Depiction: http://repo.pienazupa.lv/www/keyspeed/index.htm
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Conflicts: lv.pienazupa.lvkeyboardcleaner6
Provides: lv.pienazupa.lvkeyboardcleaner6
Replaces: lv.pienazupa.lvkeyboardcleaner6
Pre-Depends: firmware (>= 6.0), firmware (<< 7.0)
