Package: lv.pienazupa.keyaddons6
Name: Key Addons 6
Version: 6.0.1
Architecture: iphoneos-arm
Description: Papildus simboli visās iOS 6 tastatūrās.
Homepage: http://pienazupa.lv/
Depiction: http://repo.pienazupa.lv/www/keyaddons/index.htm
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Pre-Depends: firmware (>= 6.0), firmware (<< 7.0)
