Package: lv.kristapsausters.keyclean
Name: LV Key Cleaner
Version: 5.0.0
Architecture: iphoneos-arm
Description: Aizvāc svešos simbolus no iOS 5 tastatūras.
Homepage: http://kristapsausters.lv/
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Conflicts: lv.kristapsausters.keyspeed
Provides: lv.kristapsausters.keyspeed
Replaces: lv.kristapsausters.keyspeed
Pre-Depends: firmware (>= 5.0), firmware (<< 6.0)
