Package: lv.kristapsausters.keyaddons.core
Name: Key Addons
Version: 6.0.1
Architecture: iphoneos-arm
Description: Papildus simboli visās iOS 6 tastatūrās.
Homepage: http://kristapsausters.lv/
Depiction: http://repo.kristapsausters.lv/www/keyaddons/index.htm
Maintainer: Kristaps <kausters@gmail.com>
Author: Kristaps <kausters@gmail.com>
Section: Keyboards
Depends: lv.kristapsausters.keyaddons
Pre-Depends: firmware (>= 6.0), firmware (<< 7.0)
