Package: lv.kristapsausters.keyclean
Name: LV Key Cleaner
Version: 6.0.0
Architecture: iphoneos-arm
Description: Aizvāc svešos simbolus no iOS 6 LV tastatūras.
Homepage: http://pienazupa.lv/
Depiction: http://repo.pienazupa.lv/www/keycleaner/index.htm
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Conflicts: lv.kristapsausters.keyspeed
Provides: lv.kristapsausters.keyspeed
Replaces: lv.kristapsausters.keyspeed
Pre-Depends: firmware (>= 6.0), firmware (<< 7.0)
