Package: lv.kristapsausters.keyclean.core
Name: LV Key Cleaner
Version: 7.0.0
Architecture: iphoneos-arm
Description: Aizvāc svešos simbolus no iOS 7 LV tastatūras.
Homepage: http://kristapsausters.lv/
Depiction: http://repo.kristapsausters.lv/www/keycleaner/index.htm
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Conflicts: lv.kristapsausters.keyspeed
Provides: lv.kristapsausters.keyspeed
Replaces: lv.kristapsausters.keyspeed
Pre-Depends: firmware (>= 7.0), firmware (<< 8.0)
