Package: lv.kristapsausters.keyspeed
Name: LV Key Speeder
Version: 4.0.1
Architecture: iphoneos-arm
Description: Paātrina rakstīšanu ar iOS 4 LV tastatūru.
Homepage: http://kristapsausters.lv/
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Recommends: lv.kristapsausters.keyclean
Enhances: lv.kristapsausters.keyclean
Pre-Depends: firmware (>= 4.0), firmware (<< 5.0)
