Package: lv.pienazupa.lvkeyboardcleaner6
Name: LV Key Cleaner 6
Version: 1.0
Architecture: iphoneos-arm
Description: Aizvāc svešos simbolus no iOS 6 LV tastatūras.
Homepage: http://pienazupa.lv/
Depiction: http://repo.pienazupa.lv/www/keycleaner/index.htm
Maintainer: PienaZupa <pienazupa@gmail.com>
Author: PienaZupa <pienazupa@gmail.com>
Section: Keyboards
Conflicts: lv.pienazupa.lvkeyboardspeed6
Provides: lv.pienazupa.lvkeyboardspeed6
Replaces: lv.pienazupa.lvkeyboardspeed6
Pre-Depends: firmware (>= 6.0), firmware (<< 7.0)
